@model IEnumerable<WebApplication5.Models.TaskViewModel>

@{
    ViewBag.Title = "Task list";
    string owner = ViewBag.FilterOwner as string;
    if (!string.IsNullOrEmpty(owner))
    {
        ViewBag.Title += " - Owner: " + owner;
    }
}

<h2>@Html.Raw(ViewBag.Title)</h2>

@if (string.IsNullOrEmpty(owner))
{
    <p id="createNewLink">
        @Html.ActionLink("Create new task", "AddTask")
    </p>
}

@using (Html.BeginForm("TaskList", "Task", FormMethod.Get))
{
    <label>Owner:</label>
    @Html.TextBox("owner", ViewBag.FilterOwner as string)
    <input type="submit" value="Filter" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.task.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.task.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStoryTitle)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.task.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.task.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStoryTitle)
                </td>
                <td>
                    @Html.ActionLink("Edit task", "Edit", "Task", new { id = item.task.Id }, null) |
                    @Html.ActionLink("Delete task", "Delete", "Task", new { id = item.task.Id }, null)
                </td>
            </tr>
        }

    </table>
}

@section scripts {
    <script>
        $(function () {
            $('form').submit(function (event) {
                event.preventDefault();

                var owner = $('#owner').val();

                $.ajax({
                    url: '@Url.Action("TaskList", "Task")',
                    type: 'GET',
                    data: { owner: owner },
                    success: function (result) {
                        $('table').html(result);
                    }
                });
            });

            var owner = '@ViewBag.FilterOwner';
            if (owner === '') {
                $('#createNewLink').show();
            } else {
                $('#createNewLink').hide();
            }
        });
    </script>
}
