@model IEnumerable<WebApplication5.Models.TaskViewModel>

@{
    ViewBag.Title = "TaskList";
}

<h2>TaskList</h2>

<p>
    @Html.ActionLink("Create New", "AddTask")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.task.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.task.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.UserStoryTitle)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.task.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.task.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Owner)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserStoryTitle)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.task.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.task.Id })
    </td>
</tr>
}

</table>
