@model IEnumerable<WebApplication5.Models.UserStoryViewModel>

@{
    ViewBag.Title = "User story list";
}

<h2>User story list</h2>

<p>
    @Html.ActionLink("Create new user story", "Create")
</p>

@using (Html.BeginForm("UserStoryList", "UserStory", FormMethod.Get))
{
    <label>Owner:</label>
    @Html.TextBox("owner", ViewBag.FilterOwner as string)
    <input type="submit" value="Filter" />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userStory.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userStory.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userStory.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userStory.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userStory.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userStory.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.userStory.Id })
                </td>
            </tr>
        }
    </table>
}

@section scripts {
    <script>
        $(function () {
            $('form').submit(function (event) {
                event.preventDefault(); 

                var owner = $('#owner').val();

                $.ajax({
                    url: '@Url.Action("UserStoryList", "UserStory")',
                    type: 'GET',
                    data: { owner: owner },
                    success: function (result) {
                        $('table').html(result); 
                    }
                });
            });
        });
    </script>
}
